.note {
    background-color:#EEE;
    padding:5px;
    width:80%;
    border:1px solid black;
    margin:10px;
}

.inserted-at {
    font-size: 10px;
    font-style: italic;
}

li button {
    position: absolute;
    right: 10px;
    top: 5px;
}

li .list-notes {
    margin-top: 20px;
    color: black;
    text-shadow: none;
}

li .list-notes .btn-warning {
    right: 115px;
}