.note {
    background-color:#EEE;
    padding:5px;
    width:80%;
    border:1px solid black;
    margin:10px;
}

.inserted-at {
    font-size: 10px;
    font-style: italic;
}

.list-sections button {
    position: absolute;
    right: 10px;
    top: 3px;
}
